
body {
margin: 40px; 
font-family: 'Goldman';
}

h1,h2,h3,h4 {
font-family:'Merriweather' ;
}
.product {
cursor: pointer;
margin-bottom: 40px;
}

h1, h2, h3, h4 {
margin-bottom: 40px;
}

.card {
background-color:rgb(41, 177, 41);
}

.home {
    text-align: center ;
    color: rgb(77, 161, 77);
    margin-top: 20px;
}
