@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  padding-top: 100px;
}

.product {
  cursor: pointer;
  margin-bottom: 20px;
}

h1 {
  padding-top: 20px;
  margin-bottom: 40px;
}

.card-custom h3 {
  padding: 8px;
  color: white;
}

input,
label {
  width: 100%;
}

.home {
  text-align: center;
}

.img-thumbnail {
  height: 200px;
  width: 200px;
}

.search-suggestions {
  position: fixed;
  margin-top: 50px;
  margin-left: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #557b83;
  z-index: 1;
}

.search-suggestions a {
  cursor: pointer;
  padding: 6px;
  text-decoration: none;
  color: #557b83;
  display: block;
  z-index: 1;
}

.search-suggestions a:hover {
  z-index: 1;
  background-color: #39aea9;
  color: white;
}

.navbar-custom {
  background-color: #39aea9;
}

.card-custom {
  border-radius: 12px 12px 0 0;
  padding: 2px 0;
  background-color: #39aea9;
}

.bottom-column {
  color: #557b83;
  // align-content: flex-end;
  width: 100px;
  height: 50px;
}
